
.side-panel {
  min-width: 255px;
  max-width: 255px;  
  font-size: 12px;    
  display: flex;
  flex-direction: column;
  height: 100%;

  /*.axis-selector {
    legend {
    }
  }*/
  .readout {
    overflow-y: auto;
    overflow-x: hidden;

    /*legend {
    }*/
    table {
      border-spacing: 0px;
      width: 100%;

      .group-row {
        cursor: pointer;
        .group-row-name {
          font-weight: bold
        }
      }

      .row-info {
        font-size: smaller;
      }

      .row-name {
        min-width: 110px;
        max-width: 110px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &:before {
          content: attr(title);
        }
      }

      .row-value {
        min-width: 50px;
        max-width: 50px;
        padding-left: 0.5em;
        text-align: right;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &:before {
          content: attr(title);
        }
      }

      .row-units {
        min-width: 35px;
        max-width: 35px;
        padding-left: 0.5em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &:before {
          content: attr(title);
        }
      }
    }
  }
  .zoom {
    padding-top: 5px;
    padding-left: 10px;
    display: flex;
    .zoom-label {
        padding-top: 6px;
        padding-right: 8px;
    }
    .zoom-value {
        flex: 1 1 100px;
        padding: 0 20px 0 10px;
    }
  } 
   .scale {
      padding-left: 10px;
      display: flex;
      .scale-label {
        padding-top: 4px;
        padding-right: 8px;
      }
      .scale-value {
      }
  }
}