// These are important to properly display the component
@import '@equinor/videx-wellog/dist/styles/log-styles.scss';
//@import '@equinor/videx-wellog/dist/styles/loader-styles.scss';
@import '@equinor/videx-wellog/dist/styles/scale-styles.scss';


//$scale_slave_scale_bg: #ff0000;

.welllogview {
  width: 100%;
  height: 100%;
  display: flex;

  // redefine videx-wellog log-controller
  height: inherit;

  .track {
    .track-title {
      background-color: #ccc;
      font-weight: normal;
      color: black;
      font-family: inherit;
      white-space: nowrap;
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .track-legend {
      .scale-title {
        /*display: block;
        text-overflow: ellipsis;
        overflow: hidden;*/
      }
    }
  }

  .selected {
    background-color: rgba(255, 155, 79, 0.1);
  }

  .slave-scale {
    background-color: rgba(255, 255, 255, 0.0235); // to make track selection background visible
  }

  .track-container {
    pointer-events: all; // to allow mouse events handling
  }

  .overlay {
    .depth {
      //not work?? position : absolute;
      right: 5px;
      bottom: 5px;
      display: inline-block;

      padding: 2px;
      border-radius: 4px;
      text-align: right;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
    }

    .rubber-band {
      background-color: rgba(255, 0, 0, 0.1);

      div {
        background-color: rgba(255, 0, 0, 0.7);
      }
    }

    .pinned {
      background-color: rgba(0, 0, 0, 0.1);

      div {
        background-color: rgba(0, 255, 0, 0.7);
      }
    }
  }

  .title {
    color: rgb(0, 0, 0);
    background-color: rgb(241, 241, 241);
    font-size: 14px;
    text-align: center;
    flex: "0, 0",
  }
  .title-horizontal {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }                          

  .view {
    width: 100%;
    height: 100%;
    flex: 1, 1;
    display: flex;
    flex-direction: column;

    container { 
      flex: 1, 1;
    }
  }  

  .error {
    flex: 0, 0;
    color: rgb(255, 64, 64);
    background-color: rgb(255, 255, 192)
  }

  .wellpick {
    font-size: 9px;

    .vertical-text {
      writing-mode: vertical-lr;
      transform: rotate(180deg);
    }
  }

  .wellpick-fill {
    opacity: 0.3;
  }

  .wellpick-pattern {
    opacity: 0.57
  }
}


.welllogspacer {
  width: 100%;
  height: 100%;
  display: flex;

  .welllogspacer-distance-horizontal {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
  .distance { 
    font-size: 12;
    text-align: center;
  }

  .wellpick {
    opacity: 0.9
  }

  .wellpick-fill {
    opacity: 0.3
  }

  .wellpick-pattern {
    opacity: 0.57
  }
}

