.welllog-layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  .header-footer { 
    flex: 0;
    width: 100%;
  }
  .interior {
    flex: 1;
    height: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .top-bottom { 
    flex: 0;
  }
  .middle{
    flex: 1;
    height: 100%;
    width: 0%;
    display: flex;
    flex-direction: column;
  }
  .left-right { 
    flex: 0; 
    height: 100%;
  }
}
